# Sistema Operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editores e IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Entornos y dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Variables de entorno y credenciales
.env
.env.local
.env.*.local

# Temporales y respaldos
*.tmp
*.bak
*.backup
scratch/
